
app-loading-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.notification-info{
    font-size:medium;
    font-style: italic;
    margin-left:40px;
    margin-top:40px;
}