<h2 mat-dialog-title><b>Are you sure you want to reject the offer and cancel the negotiation?</b></h2>
<mat-dialog-content class="mat-typography">
  <p>If you choose to reject, the negotiation will be ended. You should only reject whenever you no longer want to
    negotiate with the correspondent. The proposal history will be completely deleted and the offer will dissapear
    from both the proposal tab as on the listing. 
  </p>
<p>If you disagree with the offer, but want to keep negotiating: use the button make another proposal. Rejecting 
  is final, ends the negotiation and cannot be reversed.
</p>
<h3><b>Reject this pay and cancel the negotiation?</b></h3>
  <h1 style="margin-top:0px">€{{rejectedprice}}/hr</h1>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <div style="display:flex; width:100%; justify-content:left">
    <button mat-button mat-dialog-close  class="submit" style="width:200px; margin-right:10px">Return</button>
    <button mat-button [mat-dialog-close]="true"  class="submit" style="width:200px">Cancel negotiation</button>
    </div>
</mat-dialog-actions>