<div class="wrapper">
<body>
    <div class="container">
    <div class="left-container">
      <h1>Welcome to ForTalent</h1>
      <h2>"The ultimate platform for artists and venues to connect and collaborate"</h2>
      <!--https://uiverse.io/cssbuttons-io/massive-mayfly-74-->
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Learn More</span>
      </button>
      <!-- <p class="arrow">
        As an <b>Artist</b>, you can browse and apply for gigs that fit your style and talent and build up your reputation and fame through 
        reviews from satisfied clients. 
        <p class="arrow">As a <b>Venue</b>, you can easily find and book talented artists for your events, 
        and build up your reputation as an excellent and hospitable host by offering great experiences to performing artists. </p> -->
    </div>
     <div class="right-container">
        <!--https://uiverse.io/hannahyockel/wicked-bobcat-71-->
      <a href="/login" class="l-button">LOGIN</a> <br>
      <p>-OR-</p>
      <a href="/signup" class="l-button">SIGN UP</a>
    </div>
</div>
  </body>
</div>
  